<div class="h-full w-full flex justify-center items-center bg-blue-300">
  <div class="w-[700px] h-[500px] rounded-md bg-white overflow-hidden">
    <div class="flex h-full">
      <div class="w-[30%] p-3 border-r bg-blue-600 border-r-1 border-blue-700 text-xs text-blue-200">
        <div
          class="p-2 rounded-md cursor-pointer mt-10"
          routerLink="page-1"
          [ngClass]="{'bg-blue-700 text-white font-extrabold': router.url === '/page-1'}"
        >
          Some page
        </div>
        <div
          class="p-2 rounded-md cursor-pointer"
          routerLink="page-2"
          [ngClass]="{'bg-blue-700 text-white font-extrabold': router.url === '/page-2'}"
        >
          Different page
        </div>
      </div>
      <div style="width: 70%">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>